<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <span th:insert="/common/header.html::head"></span>
</head>
<body>

    <span th:insert="/common/header.html::header"></span>

    <main>
        <div class="container mt-3">
            <nav aria-label="breadcrumb" class="b">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item active">Les repas</li>
                </ol>
            </nav>

            <div class="row container">

                <span th:text="${error}"></span>

            </div>

            <div class="table-responsive mt-1">
                <table class="table table-striped">
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th class="d-none d-sm-block">Consommé</th>
                        <th>Supprimer</th>
                    </tr>

                    <tr th:each="m:${mealPage.content}">
                        <td><a th:href="@{/user/meals/}+${m.id}" td th:text="${m.id}"/></td>
                        <td th:text="${#dates.format(m.date,'dd MMM yyyy')}"></td>
                        <td th:text="${m.mealType.label}"></td>
                        <td class="d-none d-sm-block" th:text="${m.validate}"></td>
                        <td><form th:action="@{/user/meals/}+${m.id}+@{/delete}">
                                <button class="btn btn-primary x float-right"
                                        onclick="return confirm('Êtes-vous sûr ?')">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <nav class="nav nav-pills" th:if="${mealPage.totalPages > 0}">
                <li th:each="pageNumber : ${pageNumbers}">
                    <a class="btn btn-outline-danger btn-sm mr-1" th:href="@{/user/meals?page=}+${pageNumber}+@{&size=}+${size}"
                       th:text=${pageNumber}></a>
                </li>
            </nav>
        </div>
    </main>
    <span th:insert="/common/footer.html"></span>
</body>
</html>
